output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
Example Upsert Embeddings  RAG  Mastra Docs.md
Storage in Mastra  Mastra Docs.md
.specstory/history/2025-08-24_13-53Z-node-js-application-setup-and-architecture-overview.md
.specstory/history/2025-08-31_15-11Z-graph-rag-implementation-in-research-assistant-project.md
.specstory/history/2025-08-31_15-23Z-#list-projects.md
.specstory/history/2025-08-31_15-29Z-#list-projects.md
.gitignore
.specstory/history/2025-08-31_15-16Z-follow-instructions-in-\[archon-prompt-md](file-home-sam-00-mastra-deep-research-github-prompts-archon-prompt-md).md
.specstory/history/2025-09-05_15-31Z-i-want-you-to-check-my-actual-project-&-its-current-state-looks-for-ways-to-improve-my-#file-readme-md-with-tech-badges-also-i-want-you-to-look-at-my-documentation-&-make-sure-its-up-to-date-&-in-s.md
